@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
    font-size: 100%;
    margin: auto;
    
  }
  
  html, body {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
  }
  
  

  header {
    display: flex;
    margin: 20px auto 10px auto;
    max-width: 425px;
    align-items: center;
  }

  header i {
    color: black;
    font-size: 22px;
    margin-left: 20px;
    padding: 3px 4px;
  }

  header img {
    margin: 0 auto;
  }
  header .return-icon {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    header {
      max-width: 768px;
    }
  }
  @media screen and (max-width: 1024px) {
    header {
      max-width: 1024px;
    }
  }
  @media screen and (min-width: 1025px) {
    header {
      max-width: 1440px;
    }
  }
  main {
    max-width: 425px;
    margin: auto;
  }
  main > h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 35px 65px 0px 65px;
  }
  main > p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 20px 40px;
  }
  @media screen and (max-width: 768px) {
    main {
      max-width: 768px;
      margin: auto;
    }
  }
  @media screen and (max-width: 1024px) {
    main {
      max-width: 1024px;
      margin: auto;
    }
  }
  @media screen and (min-width: 1025px) {
    main {
      max-width: 1380px;
      margin: auto;
    }
  }
  .service {
    font-family: "Roboto", sans-serif;
    max-width: 425px;
    margin: auto;
    background-color: #353535;
    color: white;
  }
  .service > h3 {
    font-family: "Shrikhand", sans-serif;
    padding: 10px 15px;
  }
  
  .mention {
    padding: 0 20px 30px 20px;
  }
  .mention > ul {
    list-style: none;
  }
  .mention > ul i {
    padding-right: 12px;
  }
  .mention li {
    width: 100%;
    padding-top: 10px;
    cursor: pointer;
  }
  .mention li:hover {
    font-size: 110%;
  }
  .mention a {
    color: white;
    text-decoration: none;
  }

  @media screen and (min-width: 426px) {
    .service {
      max-width: 768px;
    }
  
    .mention li {
      width: auto;
    }
    .mention > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 58px;
      width: 60%;
      margin: auto;
    }
  }
  @media screen and (min-width: 768px) {
    .service {
      max-width: 1024px;
    }
  
    .mention li {
      width: auto;
    }
    .mention > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 60%;
      margin: auto;
    }
  }
  @media screen and (min-width: 1025px) {
    .service {
      max-width: 1440px;
    }
  
    .mention li {
      width: auto;
    }
    .mention > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 70%;
      margin: auto;
    }
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0px auto;
  }
  .loader__spin {
    border: 5px solid transparent;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-top: 5px solid #9356DC;
    border-right: 5px solid #FF79DA;
    border-bottom: 5px solid #99E2D0;
    cursor: progress;
    animation: loader 1s linear infinite;
  }
  .loader__text {
    position: absolute;
    display: flex;
    font-family: "Shrikhand", sans-serif;
    font-size: 32px;
  }
  .loader__text .loader__oh {
    animation: text-slide 1000ms linear;
  }
  .loader__text .loader__my {
    animation: text-slide 1000ms linear 250ms;
  }
  .loader__text .loader__food {
    animation: text-slide 1000ms linear 500ms;
  }
  @keyframes loader-hide {
    100% {
      z-index: -1;
    }
  }
  @keyframes end-loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes text-slide {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes full-heart {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes empty-heart {
    0% {
      opacity: 0;
    }
    100% {
      z-index: 1;
      opacity: 1;
    }
  }
  @keyframes clic-heart {
    0% {
      transform-origin: bottom;
      transform: scaleY(0);
      opacity: 0;
    }
    100% {
      color: black;
      font-weight: bold;
      transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes anim-menu {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes first {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes second {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes happy-hour {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .menu-card {
    height: 100%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    text-decoration: none;
    color: black;
  }
  .menu-card img {
    border-radius: 15px 15px 0 0;
  }
  .menu-card__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -3px;
    height: 75px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
  }
  .menu-card__text .menu-title {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
  }
  .menu-card__text .menu-title > p {
    padding: 5px 0px;
  }
  .menu-card__text > a {
    text-decoration: none;
    color: black;
  }
  .menu-card__text .new-menu {
    position: relative;
    top: -184px;
    left: 20%;
    color: #1b6150;
    font-weight: 500;
    background-color: #99E2D0;
    padding: 11px 15px;
    border-radius: 3px;
  }
  @media screen and (min-width: 426px) {
    .bloc-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .menu-card {
      width: 100%;
      margin: auto;
    }
    .menu-card .new-menu {
      top: 0;
      left: 0;
    }
  }